$grid-item-padding: $padding-md $padding-xs;
$grid-item-background: $background-color-light;
$grid-item-active-color: $active-color;
$grid-item-icon-size: 56rpx;
$grid-item-text-color: $gray-7;
$grid-item-text-font-size: $font-size-sm;
$grid-item-hover-background: $gray-2;