$radio-size: 40rpx;
$radio-text-color: $text-color;
$radio-border-color: $gray-5;
$radio-label-margin: $padding-xs;
$radio-square-border-radius: 4rpx;
$radio-checked-color: $primary;
$radio-disabled-background-color: $gray-3;
$radio-disabled-icon-color: $gray-5;
$radio-disabled-label-color: $gray-5;