$search-height: 108rpx;
$search-background: $background-color-light;
$search-color: $text-color;
$search-disabled-color: $disabled-color;
$search-padding: 20rpx $padding-sm;
$search-content-background: $background-color;
$search-content-border-radius: $border-radius-sm;
$search-content-shape-border-radius: $border-radius-max;
$search-input-padding: 0 20rpx;
$search-input-font-size: $font-size-md;
$search-placeholder-color: $placeholder-color;
$search-prefix-size: $font-size-lg;
$search-prefix-color: $text-color;
$search-prefix-margin: 0 -10rpx 0 16rpx;
$search-suffix-size: $font-size-lg;
$search-suffix-color: $light-color;
$search-suffix-margin: 0 16rpx 0 -10rpx;
$search-action-font-size: $font-size-md;
$search-action-color: $text-color;
$search-action-margin: 0 0 0 20rpx;