$tabs-height: 88rpx;
$tabs-background: $background-color-light;
$tabs-padding: 0 20rpx;
$tabs-font-size: $font-size-md;
$tabs-color: $gray-7;
$tabs-active-color: $primary;
$tabs-disabled-color: $disabled-color;
$tabs-border-color: $border-color;
$tabs-line-height: 6rpx;
$tabs-line-color: $tabs-active-color;
$tabs-line-border-radius: 6rpx;
$tabs-badge-transform: translate(80%, -60%);