.s-row {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;

  &__wrap {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    flex-wrap: wrap;
    box-sizing: border-box;
  }

  &--vertical>&__wrap {
    flex-direction: column;
  }

  &--justify-start {
    justify-content: flex-start;
  }

  &--justify-center {
    justify-content: center;
  }

  &--justify-end {
    justify-content: flex-end;
  }

  &--justify-space-between {
    justify-content: space-between;
  }

  &--justify-space-around {
    justify-content: space-around;
  }

  &--justify-space-evenly {
    justify-content: space-evenly;
  }

  &--align-stretch {
    align-items: stretch;
  }

  &--align-start {
    align-items: flex-start;
  }

  &--align-center {
    align-items: center;
  }

  &--align-end {
    align-items: flex-end;
  }
}