$swiper-background: $background-color;
$swiper-animation-duration: $animation-duration-base;
$swiper-indicator-color: rgba($white, .4);
$swiper-indicator-active-color: $white;
$swiper-indicator-gutter: 10rpx;