$collapse-item-transition-duration: $animation-duration-base;
$collapse-item-content-padding: $padding-sm $padding-md;
$collapse-item-content-font-size: $font-size-md;
$collapse-item-content-line-height: $line-height-sm;
$collapse-item-content-text-color: $gray-6;
$collapse-item-content-background: $background-color-light;