$checkbox-size: 40rpx;
$checkbox-text-color: $text-color;
$checkbox-border-color: $gray-5;
$checkbox-label-margin: $padding-xs;
$checkbox-square-border-radius: 4rpx;
$checkbox-checked-color: $primary;
$checkbox-disabled-background-color: $gray-3;
$checkbox-disabled-icon-color: $gray-5;
$checkbox-disabled-label-color: $gray-5;