$image-placeholder-font-size: $font-size-md;
$image-placeholder-text-color: $gray-6;
$image-placeholder-background: $background-color;
$image-loading-icon-size: 64rpx;
$image-loading-icon-color: $gray-4;
$image-error-icon-size: 64rpx;
$image-error-icon-color: $gray-4;