$index-list-color: $text-color;
$index-list-active-color: $primary;
$index-list-index-padding: 6rpx 12rpx;
$index-list-index-font-size: 20rpx;
$index-list-sidebar-zindex: 9;
$index-anchor-padding: 12rpx $padding-md;
$index-anchor-font-size: $font-size-md;
$index-anchor-background: $gray-1;
$index-anchor-color: $text-color;
$index-anchor-border-color: $border-color;
$index-list-alert-size: 120rpx;
$index-list-alert-radius: $border-radius-lg;
$index-list-alert-font-size: 50rpx;
$index-list-alert-right: 90rpx;
$index-list-alert-background: rgba($black, .65);
$index-list-alert-color: $white;
$index-list-alert-zindex: 9;