$toast-min-width: 240rpx;
$toast-max-width: 80%;
$toast-font-size: $font-size-md;
$toast-line-height: $line-height-sm;
$toast-color: $white;
$toast-padding: 30rpx $padding-sm;
$toast-background: rgba($black, .8);
$toast-border-radius: $border-radius-sm;
$toast-icon-size: 70rpx;
$toast-loading-size: 50rpx;
$toast-loading-padding: $padding-base;
$toast-has-icon-padding: $padding-sm;
$toast-has-icon-border-radius: $border-radius-md;
$toast-has-icon-min-width: 200rpx;
$toast-has-icon-min-height: 200rpx;
$toast-has-icon-message-top: $padding-base;
$toast-top-distance: 20%;
$toast-bottom-distance: 20%;