$cell-horizontal-padding: $padding-md;
$cell-vertical-padding: 22rpx;
$cell-font-size: $font-size-md;
$cell-line-height: $line-height-sm;
$cell-color: $text-color;
$cell-background: $background-color-light;
$cell-hover-background: $hover-color;
$cell-border-color: $border-color;
$cell-value-color: $gray-6;
$cell-icon-size: 36rpx;
$cell-arrow-icon-size: 30rpx;
$cell-arrow-icon-color: $gray-6;