$nav-bar-font-size: 14px;
$nav-bar-background: $background-color-light;
$nav-bar-color: $black;
$nav-bar-border-color: $border-color;
$nav-bar-title-font-size: 16px;
$nav-bar-back-icon-size: 21px;
$nav-bar-zindex: 99;