$divider-margin: $padding-md 0;
$divider-font-size: $font-size-md;
$divider-text-color: $tips-color;
$divider-border-color: $border-color;
$divider-content-padding: $padding-md;
$divider-border-left-width: 10%;
$divider-border-right-width: 10%;