$table-font-size: $font-size-md;
$table-background: $background-color-light;
$table-text-color: $content-color;
$table-padding: $padding-sm $padding-xs;
$table-border-color: $border-color;
$table-tr-stripe-background: $gray-2;
$table-sort-color: $content-color;
$table-sort-active-color: $primary;