$slider-active-background: $primary;
$slider-inactive-background: $gray-3;
$slider-disabled-opacity: $disabled-opacity;
$slider-bar-height: 4rpx;
$slider-button-width: 48rpx;
$slider-button-height: 48rpx;
$slider-button-border-radius: 50%;
$slider-button-background: $background-color-light;
$slider-button-box-shadow: 0 2rpx 4rpx rgba($black, .5);