$progress-bar-background: $gray-3;
$progress-color: $primary;
$progress-bar-height: 12rpx;
$progress-text-inside-bar-height: 48rpx;
$progress-bar-border-radius: $border-radius-max;
$progress-bar-inner-text-size: $font-size-sm;
$progress-bar-inner-text-color: $white;
$progress-text-size: $font-size-md;
$progress-text-color: $gray-7;