$tabbar-height: 100rpx;
$tabbar-zindex: 99;
$tabbar-background: $background-color-light;
$tabbar-item-font-size: 22rpx;
$tabbar-item-padding: 14rpx 0;
$tabbar-item-color: $gray-6;
$tabbar-item-active-color: $primary;
$tabbar-item-icon-size: 42rpx;
$tabbar-item-mid-button-circle-size: 100rpx;
$tabbar-item-mid-button-icon-size: 70rpx;
$tabbar-item-mid-button-icon-top: 14rpx;
$tabbar-border-color: $border-color;
$tabbar-box-shadow: $box-shadow-light;