$action-sheet-background: $background-color-light;
$action-sheet-content-max-height: 60vh;
$action-sheet-header-height: 96rpx;
$action-sheet-header-font-size: $font-size-lg;
$action-sheet-description-color: $text-color-2;
$action-sheet-description-font-size: $font-size-md;
$action-sheet-description-line-height: $line-height-md;
$action-sheet-item-background: $background-color-light;
$action-sheet-item-font-size: $font-size-lg;
$action-sheet-item-line-height: $line-height-sm;
$action-sheet-item-text-color: $text-color;
$action-sheet-item-disabled-text-color: $gray-5;
$action-sheet-subname-color: $text-color-2;
$action-sheet-subname-font-size: $font-size-sm;
$action-sheet-subname-line-height: $line-height-sm;
$action-sheet-gap-height: $padding-xs;
$action-sheet-gap-color: $background-color;
$action-sheet-cancel-text-color: $text-color;