@font-face {
  font-family: "iconfont"; /* Project id 3248640 */
  src: url('//at.alicdn.com/t/font_3248640_35k98ymlhr4.woff2?t=1648297964372') format('woff2'),
       url('//at.alicdn.com/t/font_3248640_35k98ymlhr4.woff?t=1648297964372') format('woff'),
       url('//at.alicdn.com/t/font_3248640_35k98ymlhr4.ttf?t=1648297964372') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-quanbudingdan:before {
  content: "\e600";
}

.icon-icon2:before {
  content: "\e669";
}

.icon-daifukuan:before {
  content: "\e633";
}

.icon-daishouhuo:before {
  content: "\e62f";
}

.icon-shouhou:before {
  content: "\e624";
}

.icon-weibiaoti--:before {
  content: "\e60e";
}

.icon-gouwuche:before {
  content: "\e67e";
}

.icon-xuanzhong:before {
  content: "\78";
}

.icon-zhinanzhidao:before {
  content: "\e905";
}

.icon-zhishi:before {
  content: "\e61a";
}

.icon-shangchengguanli:before {
  content: "\e6c2";
}

.icon-remen:before {
  content: "\e8c9";
}
