@font-face {
  font-family: "iconfont"; /* Project id 3248640 */
  src: url('//at.alicdn.com/t/font_3248640_ls2hneyt1j.woff2?t=1647481879734') format('woff2'),
       url('//at.alicdn.com/t/font_3248640_ls2hneyt1j.woff?t=1647481879734') format('woff'),
       url('//at.alicdn.com/t/font_3248640_ls2hneyt1j.ttf?t=1647481879734') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-buy3:before {
  content: "\e61b";
}

.icon-qita1:before {
  content: "\e77f";
}

.icon-zhishi:before {
  content: "\e61a";
}

.icon-shangchengguanli:before {
  content: "\e6c2";
}

.icon-remen:before {
  content: "\e8c9";
}
